<template>
    <transition name="fade">
        <div class="bg-black-10 fixed w-100 vh-100 top-0 left-0 flex items-center justify-center z-9999"
             @click="hide"
             v-show="visible">
            <div @click.stop=""
                 class="relative flex flex-column v-mid bg-white mw8-ns w-40-l center pa4 pa5-ns tl br2-ns overflow-y-auto">
                <div class="absolute right-2 top-1 fr f1 black-30 ma0 pointer pa0 v-top" @click="hide">
                    &times;
                </div>
                <h2 class="dib fl ttu gray fw5 f5 f3-ns mt1 mt0-ns mb5">
                    {{ label }}
                </h2>
                <div>
                    <button @click="confirm"
                            :disabled="processing"
                            class="Confirm__Button link Action__Button bg-primary white">
                        <span class="white">
                            <spinner v-if="processing"></spinner>
                            <span v-else>Yes</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        data() {
            return {
                visible: false,
                processing: false,
                label: '',
                icon: '',
                onConfirm: null,
                onSuccess: null,
                onError: null
            };
        },

        created() {
            bus.$on('confirm-show', (data, onConfirm) => {
                this.label = data.label;
                this.icon = data.icon;
                this.onConfirm = data.onConfirm;
                this.onSuccess = data.onSuccess;
                this.onError = data.onError;

                this.show();
            });

            bus.$on('confirm-hide', () => {
                this.hide();
            });
        },

        methods: {
            show() {
                this.visible = true;
            },

            hide() {
                this.visible = false;
            },

            confirm() {
                this.processing = true;

                this.onConfirm()
                    .then(() => {
                        this.onSuccess();
                        this.processing = false;
                        this.hide();
                    }).catch(() => {
                        this.onError();
                        this.processing = false;
                        this.hide();
                    });
            }
        }
    }
</script>

<style>
    .Confirm__Button:disabled {
        background-color: #ddd !important;
    }
</style>