<template>
    <div class="absolute top-0 left-0 w-100 h-100 bg-white pa4 z-5" v-show="visible">
        <div class="mw8 center overflow-y-auto relative h-100">
            <div class="absolute top-0 right-0 black-20 f1 pointer" @click="hide">
                &times;
            </div>
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                visible: false
            };
        },

        created() {
            bus.$on('modal-show', () => {
                this.show();
            });

            bus.$on('modal-hide', () => {
                this.hide();
            });
        },

        methods: {
            show() {
                this.visible = true;
            },

            hide() {
                this.visible = false;
            }
        }
    }
</script>