@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,550,600,700,800,900');
@import "~tachyons-sass/tachyons.scss";

body {
  font-family: Montserrat, sans-serif;
  background: #f4f4f4 ;
}

.link:focus {
  outline: 0;
}

/** Forms */
.Form__Input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #ddd;
  font-family: Montserrat, sans-serif;
  @extend .black-70, .pv2, .db, .w-100, .f4, .ph2, .fw5;
}

.Form__Input.error {
  border-bottom: 1px solid #e7040f !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ddd;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ddd;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ddd;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ddd;
}

.Form__Label {
  @extend .ttu, .black-30, .b, .f6, .fw6, .db, .mb3, .w-100;
}

.Form__Submit {
  outline: none;
  @extend .bg-black-10, .br2, .tc, .black-40, .ttu, .f6, .fw6, .db, .pa3, .w-100, .bn, .pointer, .dim;
}

.Action__Button {
  outline: none;
  @extend .bg-black-10, .br2, .tc, .black-40, .ttu, .f6, .fw6, .db, .pa3, .w-100, .bn, .pointer, .dim;
}

.Stripe {
  height: 5px;
  width: 100%;
  background: #B9E0F3;
}

$sizes: 32 10 16 20 48 64 72 96 100;

@each $size in $sizes {
  .is-#{$size}x#{$size} {
    width: #{$size}px;
    height: #{$size}px;
    min-width: #{$size}px;
    min-height: #{$size}px;
  }
};

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

.bg-primary {
  background-color: #FA4152 !important;
}

.scale { transition: all .1s ease-in-out; }
.scale:hover { transform: scale(1.05); }

.Section__Container {
  @extend .mw8, .center, .cf, .pv4, .ph3;
}